---
import Card from "../components/card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>

  <Card 
    titulo="Rutina"
    contenido="Pecho, Espalda, Piernas"
  />

  <section class="card">
    <h2>Progreso</h2>

    <button id="sumar">Entrené hoy</button>
    <p id="contador">0</p>
  </section>

  <Card 
    titulo="Objetivos"
    contenido="Subir masa muscular"
  />

  <script is:inline>
    const boton = document.querySelector("#sumar");
    const texto = document.querySelector("#contador");

    let contador = 0;

    boton.addEventListener("click", () => {
      contador++;
      texto.textContent = contador;
    });
  </script>

</Layout>