---
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard Fitness</title>
  </head>

  <body>

    <header>
      <h1>🏋️ Dashboard Fitness</h1>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <p>Proyecto Astro - Frontend</p>
    </footer>

  </body>
</html>
